.btn-gradient-primary {
    background: linear-gradient(90deg, #000000, #0056b3);
    color: white;
    border: none;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #007bff;
}

.container {
    max-width: 700px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}


