{% extends "base.html" %}

{% block title %}Form Deteksi Diabetes{% endblock %}

{% block content %}
<h1 class="my-4">Deteksi Diabetes</h1>
<form method="POST">
   
    <div class="mb-3">
        <label for="melahirkan" class="form-label">Melahirkan</label>
        <input type="number" class="form-control" id="melahirkan" name="melahirkan" required>
    </div>
    
    <div class="mb-3">
        <label for="glukosa" class="form-label">Kadar Glukosa</label>
        <input type="number" class="form-control" id="glukosa" name="glukosa" required>
    </div>
    <div class="mb-3">
        <label for="darah" class="form-label">Tekanan Darah</label>
        <input type="number" class="form-control" id="darah" name="darah" required step="any">
    </div>
    <div class="mb-3">
        <label for="kulit" class="form-label">Kulit</label>
        <input type="number" class="form-control" id="kulit" name="kulit"  required step="any">
    </div>
    <div class="mb-3">
        <label for="insulin" class="form-label">Insulin</label>
        <input type="number" class="form-control" id="insulin" name="insulin" required step="any">
    </div>
    <div class="mb-3">
        <label for="bmi" class="form-label">BMI</label>
        <input type="number" class="form-control" id="bmi" name="bmi"  required step="any">
    </div>
    <div class="mb-3">
        <label for="riwayat_diabetes" class="form-label">Riwayat Diabetes</label>
        <input type="number" class="form-control" id="riwayat_diabetes" name="riwayat_diabetes"  required step="any">
    </div>
    <div class="mb-3">
        <label for="umur" class="form-label">Umur</label>
        <input type="number" class="form-control" id="umur" name="umur"  required step="any">
    </div>
    <button type="submit" class="btn btn-primary">Kirim</button>
</form> 

<!-- Menampilkan hasil prediksi -->
  {% if result %}
<div class="alert alert-info mt-4">
    Hasil Prediksi: <strong>{{ result }}</strong>
</div>
{% elif error %}
<div class="alert alert-danger mt-4">
    {{ error }}
</div>
{% endif %}
{% endblock %} 
