{% extends "base.html" %}

{% block title %}Form Deteksi Diabetes{% endblock %}

{% block content %}


<div class="container my-5">
    <div class="text-center mb-4">
        <h1 class="display-4 text-primary"><b>SweetGuard</b></h1>
        <p class="lead text-secondary">Protecting Health, Sweetly and Safely.</p>
    </div>
    <form method="POST" class="p-4 rounded shadow bg-white">
        <div class="form-group mb-4">
            <label for="melahirkan" class="form-label font-weight-bold"><b>Jumlah Kehamilan</b></label>
            <p> Berapa kali seorang wanita pernah hamil selama hidupnya, jika pria maka 0 </p>
            <input type="number" class="form-control" id="melahirkan" name="melahirkan"  required step="any">
        </div>
        <div class="form-group mb-4">
            <label for="glukosa" class="form-label font-weight-bold"><b>Kadar Glukosa</b></label>
            <p> Persentase gula darah dalam tes toleransi glukosa </p>
            <input type="number" class="form-control" id="glukosa" name="glukosa"  required step="any">
        </div>
        <div class="form-group mb-4">
            <label for="darah" class="form-label font-weight-bold"><b>Tekanan Darah</b></label>
            <p> Tekanan darah diastolik dalam mmHg </p>
            <input type="number" class="form-control" id="darah" name="darah"  required step="any">
        </div>
        <div class="form-group mb-4">
            <label for="kulit" class="form-label font-weight-bold"><b>Ketebalan Lipatan Kulit</b></label>
            <p>  Ketebalan lipatan kulit trisep  </p>
            <input type="number" class="form-control" id="kulit" name="kulit"  required step="any">
        </div>
        <div class="form-group mb-4">
            <label for="insulin" class="form-label font-weight-bold"><b>Insulin</b></label>
            <p> Kadar insulin dalam serum darah </p>
            <input type="number" class="form-control" id="insulin" name="insulin"  required step="any">
        </div>
        <div class="form-group mb-4">
            <label for="bmi" class="form-label font-weight-bold"><b>BMI</b></label>
            <p> Indeks Massa Tubuh </p>
            <input type="number" class="form-control" id="bmi" name="bmi"  required step="any">

        </div>
        <div class="form-group mb-4">
            <label for="riwayat_diabetes" class="form-label font-weight-bold"><b>Riwayat Genetik Diabetes</b></label>
            <p> Riwayat penyakit diabetes dalam keluarga </p>
            <input type="number" class="form-control" id="riwayat_diabetes" name="riwayat_diabetes"  required step="any">
        </div>
        <div class="form-group mb-4">
            <label for="umur" class="form-label font-weight-bold"><b>Usia</b></label>
            <input type="number" class="form-control" id="umur" name="umur"  required step="any">
         
        </div>
    
<form method="POST" class="p-4 rounded shadow bg-white">
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Kirim</button>
    </div>
</form>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

{% if result %}
<div class="alert alert-info mt-4">
    Hasil Prediksi: <strong>{{ result }}</strong>
</div>
{% elif error %}
<div class="alert alert-danger mt-4">
    {{ error }}
</div>
{% endif %}

{% block script %}
<script>
   document.getElementById("diabetesForm").addEventListener("submit", function(event) {
    event.preventDefault(); 
    var form = this;
    var resultDiv = document.getElementById("predictionResult");
    
    resultDiv.style.display = "block"; 
});

</script>
{% endblock %}
{% endblock %}
